---
layout: default
title: Home
order: 0
---
<style>
    .highlight {
        display: inline-block;
        position: relative;
    }

    .highlight:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.5rem;
        bottom: 0.2rem;
        left: 0;
        background-color: #ffa50082;
        visibility: hidden;
        transform: scaleX(0);
        transform-origin: 0% 100%;
        z-index: -1;
    }

    .animate-underline:before {
        visibility: visible;
        animation: underlineAnimation 0.6s forwards;
    }

    @keyframes underlineAnimation {
        from {
            transform: scaleX(0);
        }
        to {
            transform: scaleX(1);
        }
    }

    .highlight-bold {
        z-index: 1;
        font-weight: bold;
    }

    section#latest-pictures.section div.container div.row div.col-md-3.mb-4 {
        padding-left: 0px !important;
    }


    .count-text {
        color: #3e2828;
        font-size: 3rem;
        margin-bottom: 0;
    }

    .hero-card {
        cursor: pointer;
        position: relative;
    }

    .showcase-cover {
        position: relative;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }

    .showcase-cover::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
        pointer-events: none;
        z-index: 0;
    }

    .hero-card-indicator {
        position: relative;
    }

    .hero-card-indicator.active::after {
        content: '';
        position: absolute;
        left: -15px; /* Adjust the right position as needed */
        top: 50%;
        transform: translateY(-50%);
        width: 10px; /* Adjust width as needed */
        height: 10px; /* Adjust height as needed */
        border-radius: 50%;
        background: white;
    }
</style>
<section>
    <div class="gradientBg noPadding">
        <div class="container-xl ">
            <div class="pageTitleContainer">
                <div class="row noPadding noMargin">
                    <h2 class="poppins  px-3 text-center text-black">
                        Our mission is to  <span class="highlight highlight-bold">extend human healthspan</span> by pioneering discoveries in molecular and cellular mechanisms that regulate the aging process.
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xl py-3">
        <br>
        <h4 class="text-center ">
            We investigate how cellular senescence and other cell fates alter the tissue microenvironment and influence
            the aging process, the capacity to recover from transient and chronic injury, and the onset and progression
            of age-related pathology. We aim to understand basic molecular and cellular mechanisms, and target such
            mechanisms to create therapies that enhance healthy longevity. Our multidisciplinary research spans basic,
            translational, and clinical approaches.
        </h4>
        <br>
    </div>
    <div class="b-divider"></div>

    {% assign hero_accordion = site.data.hero_accordion %}
    {% if hero_accordion.size > 0 %}
    <div class="container-flex">
        <section class="bg-dark py-3 p-lg-5 showcase-cover px-0 px-lg-3 m-0">

            <div class="container p-0 p-lg-3 p-xl-5 my-0 my-lg-3 my-xl-5 ">
                <div class="row g-5 d-none d-lg-flex ">

                    <div class="col-12 col-lg-3 ms-0 ps-0 js-required-d-block">
                        <div class="row gy-1 gy-lg-2">
                            <h4 class="poppins text-white front"> Explore topics</h4>

                            {% for item in hero_accordion %}
                            {% assign border_radius = "border-radius: 5px" %}
                            {% if forloop.first %}
                            {% assign border_radius = "border-top-left-radius: 20px;border-top-right-radius: 20px;
                            border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;" %}
                            {% endif %}
                            {% if forloop.last %}
                            {% assign border_radius = "border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;
                            border-top-left-radius:5px;border-top-right-radius: 5px;" %}
                            {% endif %}
                            <div class="col-12 mx-0 px-0 ">
                                <div class="front no-text-selection py-3 px-3 animated bg-light hero-card hero-card-indicator h-100"
                                     data-title="{{item.title}}"
                                     data-description="{{item.description}}"
                                     data-photo="{{item.photo}}"
                                     style="{{border_radius}} ">
                                    <div class="card-body">
                                        <h5 class="poppins m-0">{{item.short_title}}</h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-12 col-lg ">
                        <h2 class="poppins showcase-title text-white front">Overview of our research</h2>
                        <div class="showcase-text text-white  front">
                            We employ advanced techniques and cutting-edge technologies to explore the molecular
                            mechanisms
                            that
                            drive cellular aging and associated diseases. Through innovative studies and collaborative
                            efforts,
                            we aim to translate our findings into novel therapeutic strategies and improve overall
                            health
                            outcomes.
                            {% assign keywords = '' %}
                            {% assign profiles = site.profiles | where: "is_alumni", false %}
                            {% for item in profiles %}
                            {% if item.role == "PhD student" or item.role == "PostDoc" %}
                            {% assign keywords = keywords | append: item.keywords | append: ';' %}
                            {% endif %}
                            {% endfor %}
                            {% assign keywords = keywords | split: ';' | uniq |sort %}
                            <br>
                            <br>
                            We deal with:
                            {% for item in keywords %}
                            <div class="d-inline-block pill bg-success rounded mb-1 px-1">{{item}}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-block d-lg-none my-5 py-5 ">
                <h2 class="poppins showcase-title text-white front text-center">Our research</h2>
            </div>
            <div class="accordion research-accordion front accordion-flush d-block d-lg-none mt-5 " id="accordionFlush">
                {% for item in hero_accordion %}
                {% assign cleaned_title = item.title | replace: ' ', '' | replace: ',', '' | replace: '.', '' | replace:
                '-', '' | replace: '_', '' %}

                {% assign border_radius = "border-radius: 5px" %}
                {% if forloop.first %}
                {% assign border_radius = "border-top-left-radius:var(--bs-border-radius-xxl);border-top-right-radius: var(--bs-border-radius-xxl);
                border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;" %}
                {% endif %}
                {% if forloop.last %}
                {% assign border_radius = "border-bottom-left-radius:var(--bs-border-radius-xxl);border-bottom-right-radius: var(--bs-border-radius-xxl);
                border-top-left-radius:5px;border-top-right-radius: var(--bs-border-radius);" %}
                {% endif %}

                <div class="accordion-item  {% unless forloop.last %} mb-1 {% endunless %} px-1 py-2 " style="{{border_radius}}">
                    <h5 class="accordion-header poppins px-1">
                        <button class="accordion-button collapsed hero-card p-2 bg-transparent" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse{{cleaned_title}}" aria-expanded="false"
                                aria-controls="flush-collapse{{cleaned_title}}"
                                data-title="{{item.title}}"
                                data-description="{{item.description}}"
                                data-photo="{{item.photo}}">
                            {{item.title}}
                        </button>
                    </h5>
                    <div id="flush-collapse{{cleaned_title}}" class="accordion-collapse collapse py-0"
                         data-bs-parent="#accordionFlush">
                        <div class="b-divider mt-2 "></div>
                        <div class=" px-1">
                            <div class="accordion-body p-2">{{item.description}}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
    <div class="b-divider"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const cards = document.querySelectorAll('.hero-card');
            const showcaseTitle = document.querySelector('.showcase-title');
            const showcaseText = document.querySelector('.showcase-text');
            const showcaseCover = document.querySelector('.showcase-cover');
            cards.forEach(card => {
                card.addEventListener('click', function () {
                    cards.forEach(card => card.classList.remove('active'));
                    card.classList.add('active');
                    const title = card.getAttribute('data-title');
                    const description = card.getAttribute('data-description');
                    const photo = card.getAttribute('data-photo');
                    const img = new Image();
                    img.src = photo;
                    showcaseTitle.textContent = title;
                    showcaseText.textContent = description;
                    showcaseCover.style.opacity = 1;
                    img.onload = function () {
                        showcaseCover.style.backgroundImage = `url('${photo}')`;
                    };
                });
            });
        });
    </script>
    {% endif %}
    <div class="container-flex bg-light">
        <section class="container-xl content p-0 ">
            <h3 class="poppins p-3 m-0">
                Latest news
            </h3>

            <div class="row g-0 rounded-5 overflow-hidden news-block">
                {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
                {% for post in sorted_posts limit: 5 %}
                {% assign formatted_thumb = post.thumbnail  %}
                {% assign thumb_size = formatted_thumb.size %}
                {% assign thumb_size_minus_two = thumb_size | minus:2 %}
                {% assign first_char = formatted_thumb | slice: 0 %}
                {% if first_char == "'" %}
                {% assign formatted_thumb = formatted_thumb | slice: 1,thumb_size_minus_two %}
                {% endif %}
                {% assign path_parts = formatted_thumb | split: '/' %}
                {% assign filename = path_parts | last %}
                {% assign directory = formatted_thumb | remove: filename %}
                {% assign new_filename = 'reduced_' | append: filename | split: '.' | first | append:
                '.webp' | replace: "'", "\\'" %}
                {% assign new_url = directory | append: new_filename %}
                <a href="{{ post.url }}"
                   class="col-12 mx-0 mt-0 {% unless forloop.last %}mb-1 mb-lg-2 {% endunless %} no-underline rounded interaction-bg-color text-current-color bg-white">
                    <div class="d-flex flex-row px-0 ">
                        <div class="col-9 col-md-10 d-flex flex-column">
                            <div class="my-auto px-3 py-3 ">
                                <div class="d-flex w-100 justify-content-between  ">
                                    <h5 class="mb-1 poppins">{{ post.title }}</h5>
                                </div>
                                <small class="text-body-secondary">{{ post.date | date: "%d %B, %Y " }}</small>
                            </div>
                        </div>
                        <div class="col-3 col-md-2 p-0 d-flex align-items-center justify-content-lg-center">
                            <div class="news-thumbnail w-100 border-semi-transparent  rounded-end"
                                 style="background-image:url('{{new_url}}')">
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <a href="/news/" class="no-underline no-text-selection">
                <div class="d-flex w-100 justify-content-end p-3">
                    <h5 class="mb-1 ms-auto poppins">View all → </h5>
                </div>
            </a>
        </section>
    </div>
    <div class="b-divider"></div>

    <div class="container-fluid py-3" >
        <section class=" container-xl noPadding" id="section2">
            <div class="noPadding">
                <h3 class="poppins d-flex d-md-none mt-3 mb-3 px-0 px-lg-3 text-body">
                    Meet our members
                </h3>
                <a class="no-underline d-none d-md-block " href="/members/">
                    <div class="row text-body gx-1 gx-lg-2 " id="teamSection">
                        <div class="text-body d-none d-md-flex  col-auto align-items-center justify-content-start ">
                            <a href="/members/"
                               class="text-body h-100 no-underline no-text-selection h-100 d-flex align-items-center">
                                <div class="text-start text-body">
                                    <h3 class="poppins text-body me-3 ms-0 ms-lg-3">
                                        Meet our<br>team members<br>
                                    </h3>
                                </div>
                            </a>
                        </div>

                        {% assign members_slice = '' | split: ',' %}
                        {% assign team = site.profiles | where: "is_alumni", false | sort: "date_joined" | reverse %}
                        {% for member in team %}
                        {% assign formatted_thumb = member.thumbnail %}
                        {% assign thumb_size = formatted_thumb.size %}
                        {% assign thumb_size_minus_two = thumb_size | minus:2 %}
                        {% assign first_char = formatted_thumb | slice: 0 %}
                        {% if first_char == "'" %}
                        {% assign formatted_thumb = formatted_thumb | slice: 1,thumb_size_minus_two %}
                        {% endif %}
                        {% assign path_parts = formatted_thumb | split: '/' %}
                        {% assign filename = path_parts | last %}
                        {% assign directory = formatted_thumb | remove: filename %}
                        {% assign new_filename = 'reduced_' | append: filename | split: '.' | first | append: '.webp' |
                        replace: "'", "\\'" %}
                        {% assign new_url = directory | append: new_filename %}
                        {% assign members_slice = members_slice | push: member.name %}
                        <div class="col-3 col-md js-missing-d-block">
                            <div data-caption="{{member.name}} {{member.country}}"
                                 class=" {% if forloop.first %}   rounded-5 rounded-end {% else %}   {% if forloop.last or members_slice.size>=4 %}     rounded-5 rounded-start   {% else %}     rounded   {% endif %} {% endif %}  team-circle captioned-div"
                                 style="background-image: url('{{new_url}}')"></div>
                        </div>
                        {% if members_slice.size >= 4 %}
                        {% break %}
                        {% endif %}
                        {% endfor %}


                        <!-- profiles will be injected here by JavaScript -->
                    </div>
                </a></div>

               <div class="d-block d-md-none mt-3 text-body col p-0 m-0 justify-content-end align-items-center">
                    <a href="/members/" class="text-body no-underline no-text-selection h-100 d-flex align-items-center">
                        <h5 class="px-3 ms-auto poppins">View all →</h5>
                    </a>
                </div>
        </section>
    </div>
    <!--div class="b-divider"></div-->

    <div class="b-divider"></div>

    <div class="container-fluid p-3 m-0 js-required-d-block">
        <div class="container-xl content p-0 ">
            <h3 class="poppins px-0 px-lg-3 pb-3 m-0">
                Latest photos
            </h3>
        </div>
        <div id="carouselPhotos" class="no-text-selection carousel slide container-fluid p-0 m-0  rounded-5 overflow-hidden">
            <div class="photos-container m-0 p-0 w-100  position-relative">

                <div class="slideshow-inner d-flex flex-nowrap">
                    {% assign gallery_files = site.static_files | sort: 'path' | reverse %}
                    {% assign latest_pictures = '' | split: ',' %}
                    {% for file in gallery_files %}
                    {% unless file.path contains 'blurred_'  %}
                    {% if file.path contains '/gallery/' and file.path contains 'reduced_'  %}
                    {% assign latest_pictures = latest_pictures | push: file %}
                    {% endif %}
                    {% if latest_pictures.size >= 8 %}
                    {% break %}
                    {% endif %}
                    {% endunless %}
                    {% endfor %}
                    {% assign latest_pictures_main = latest_pictures | slice: 0, 8 %}
                    {% for picture in latest_pictures_main %}
                    {% assign latest_picture_path = picture.path | replace: "'", "\\'" %}
                    {% assign new_url_blurred = latest_picture_path | replace: "reduced_", "blurred_" %}
                    {% assign filename_parts = picture.name | split: '-' %}
                    {% assign image_title = filename_parts[3] | split: '.' | first %}
                    <div class="slideshow-item cursor-pointer animated-relaxed bg-dark rounded overflow-hidden"
                         onclick="scrollToSlide({{forloop.index0}})" data-slide-index="{{forloop.index0}}">

                         <div class="w-100 h-100 float-start " style="opacity:0.4;
                                            background-color:black;
                                            background-repeat: no-repeat;
                                            background-size:100vw 100vw;
                                             background-position: center;
                                               background-image: url('{{ new_url_blurred }}');"></div>
                        <div class="rounded position-relative captioned-div"
                             data-caption="{{image_title}}"
                             style="z-index:1; background: no-repeat center url('{{ latest_picture_path }}'); height:50vh; background-size: auto 50vh ">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container-xl p-0 mx-auto mt-3">
            <div class="row g-0 align-items-center">


                <div class="col p-0 m-0 justify-content-start d-flex align-items-center">
                    <div class="row g-0 overflow-hidden rounded-5 p-0 m-0 w-100" style="max-width:200px;">
                        <div class="col p-0 my-0 ms-0 me-1 me-lg-2 ">
                            <button class="w-100 slideshow-button py-2 py-lg-4 prev rounded" onclick="prevSlide()">❮
                            </button>
                        </div>
                        <div class="col p-0 m-0 ">
                            <button class="w-100 slideshow-button py-2 py-lg-4 next rounded" onclick="nextSlide()">❯
                            </button>
                        </div>
                    </div>
                </div>


                  <div class="col p-0 m-0 d-flex justify-content-end align-items-center">
                    <a href="/gallery/" class="no-underline no-text-selection h-100 d-flex align-items-center">
                        <h5 class="px-3 ms-auto poppins">View all →</h5>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid counting-panel" style="background-color: #ffe0e0">
        <section class="container-xl  content px-0 pt-0 pb-3 ">
            <h3 class="poppins px-3 pt-3 pb-2 m-0">
                Our lab in numbers
            </h3>

            <div class="container-xl  p-0 ">
                <div class="d-flex w-100 p-0 " >
                    <div class="row d-flex align-items-stretch rounded-panel  g-1 g-lg-2 m-0 w-100">
                        {% assign alumni = site.profiles | where: "is_alumni", "true" %}

                        <div class="col d-flex flex-column ps-0 ">
                            <div class="d-flex rounded-chip justify-content-center text-center "
                                 style="flex: 1; align-items: center; background-color: #fff9f8;border-radius: inherit ">
                                <div class="d-block p-3 py-lg-4 px-lg-5">
                                    <div class="poppins count-text ">{{alumni.size}}</div>
                                    <h5 class="poppins m-0">Alumni</h5>
                                </div>
                            </div>
                        </div>


                        {% assign current_year = site.time | date: "%Y" %}

                        {% assign phd_students = site.profiles | where: "role", "PhD student" | where: "is_alumni",
                        "false"
                        %}
                        {% assign postdocs = site.profiles | where: "role", "PostDoc" | where: "is_alumni", "false" %}

                        <div class="col d-flex flex-column">
                            <div class="d-flex  rounded-chip mb-1 mb-lg-2 text-center text-lg-start"
                                 style="flex: 1;  align-items: center;  background-color: #fff9f8;">
                                <div class="d-block p-3  py-lg-4 px-lg-5">
                                    <div class="poppins count-text ">{{phd_students.size}}</div>
                                    <h5 class="poppins m-0">Current PhD students</h5>
                                </div>
                            </div>
                            <div class="d-flex rounded-chip text-center text-lg-start"
                                 style="flex: 1;  align-items: center;  background-color: #fff9f8;">
                                <div class="d-block p-3  py-lg-4 px-lg-5">
                                    <div class="poppins count-text ">{{postdocs.size}}</div>
                                    <h5 class="poppins m-0">Current PostDocs</h5>
                                </div>
                            </div>
                        </div>


                        {% assign countries = "" | split: "," %}
                        {% for profile in site.profiles %}
                        {% assign countries = countries | push: profile.country %}
                        {% endfor %}
                        {% assign unique_countries = countries | uniq %}

                        <div class="col d-flex flex-column">
                            <div class="d-flex rounded-chip text-center justify-content-center"
                                 style="flex: 1; align-items: center;  background-color: #fff9f8;">
                                <div class="d-block p-3  py-lg-4 px-lg-5">
                                    <div class="poppins count-text ">{{unique_countries.size}}</div>
                                    <h5 class="poppins m-0">Nationalities</h5>
                                </div>
                            </div>
                        </div>

                        {% assign previous_year = current_year | minus: 1 %}
                        {% assign all_publications = site.data.publications_all %}
                        {% assign current_year_publications = "" | split: "" %}
                        {% assign year_status = "Publications this year" %}

                        {% for item in all_publications %}
                        {% assign item_year_int = item.year | plus: 0 %}
                        {% assign item_year_str = item.year | slice: 0, 4 %}

                        {% if item_year_int == current_year or item_year_str == current_year %}
                        {% assign current_year_publications = current_year_publications | push: item %}
                        {% endif %}
                        {% endfor %}

                        {% if current_year_publications.size == 0 %}
                        {% assign year_status = "Publications last year" %}
                        {% assign current_year_publications = "" | split: "" %}

                        {% for item in all_publications %}
                        {% assign item_year_int = item.year | plus: 0 %}
                        {% assign item_year_str = item.year | slice: 0, 4 %}

                        {% if item_year_int == previous_year or item_year_str == previous_year %}
                        {% assign current_year_publications = current_year_publications | push: item %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        <div class="col d-flex flex-column">
                            <div class="d-flex rounded-chip justify-content-center text-center text-lg-start mb-1 mb-lg-2"
                                 style="flex: 1;  align-items: center;  background-color: #fff9f8;">
                                <div class="d-block p-3  py-lg-4 px-lg-5 ">
                                    <div class="poppins count-text ">{{current_year_publications.size}}</div>
                                    <h5 class="poppins m-0">{{year_status}}</h5>
                                </div>
                            </div>
                            <div class="d-flex rounded-chip justify-content-center text-center text-lg-start"
                                 style="flex: 1;  align-items: center;  background-color: #fff9f8;">
                                <div class="d-block p-3   py-lg-4 px-lg-5">
                                    <div class="poppins count-text ">{{all_publications.size}}</div>
                                    <h5 class="poppins m-0">All-time publications</h5>
                                </div>
                            </div>
                        </div>


                        {% assign years_since_2015 = current_year | minus: 2015 %}
                        <div class="col d-flex flex-column pe-0">
                            <div class="d-flex rounded-chip text-center justify-content-center "
                                 style="flex: 1; align-items: center;  background-color: #fff9f8; ">
                                <div class="d-block p-3  py-lg-4 px-lg-5">
                                    <div class="poppins count-text ">{{years_since_2015}}</div>
                                    <h5 class="poppins m-0">Years in research</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
