---
layout: default
title: News
header-title: Lab news
permalink: /news/
order: 6
---
<script>
    $('.navbar li#News').addClass('active');
</script>
<div class="blog-home container-flex">
    <div class="post-list">
        {% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y'" | reverse%}
        {% for year in posts_by_year reversed %}
        <div class="container-xl line-container ">
            <h3 class="poppins no-text-selection text-orange" style=" margin-top:1em">{{ year.name }}</h3>
        </div>
        <div class="latest-news mt-3 container-xl">
            <div class="list-group news-block">
                {% for post in year.items %}
                  <a href="{{ post.url }}" class="rounded list-group-item list-group-item-action">
                        <div class="d-flex flex-column flex-md-row p-0">
                            {% assign formatted_thumb = post.thumbnail | remove: "'" %}
                            <div class="col-12 col-md-2 p-0">
                                <div class="rounded news-thumbnail w-100"
                                     style="background-image:url('{{formatted_thumb | reduced}}');">
                                </div>
                            </div>
                            <div class="col-12 col-md-10 d-flex flex-column ps-3 pe-3 py-0">
                                <div class="my-auto py-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h4 class="text-secondary m-0 poppins">{{ post.title }}</h4>
                                    </div>
                                    <div class="truncate">
                                        {{ post.excerpt | markdownify | strip_html | truncatewords: 20 }}
                                    </div>
                                    <small class="text-body-secondary text-nowrap">{{ post.date | days_ago }}</small>
                                </div>
                            </div>
                        </div>
                    </a>
                <div class="my-3  {% unless forloop.last %} news-divider {% endunless  %}"></div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="b-divider"></div>
        {% endfor %}
        <div id="loader" style="display: none;">Loading...</div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let currentPage = 1;
        const postsContainer = document.getElementById('posts-container');
        const loader = document.getElementById('loader');
        const loadMorePosts = () => {
            loader.style.display = 'block';
            fetch(`/page${currentPage + 1}.html`)
                .then(response => response.text())
                .then(data => {
                    const parser = new DOMParser();
                    const htmlDocument = parser.parseFromString(data, 'text/html');
                    const newPosts = htmlDocument.querySelectorAll('.post-item');
                    newPosts.forEach(post => {
                        postsContainer.appendChild(post);
                    });
                    currentPage++;
                    loader.style.display = 'none';
                })
                .catch(error => {
                    console.error('Error loading more posts:', error);
                    loader.style.display = 'none';
                });
        };
        window.addEventListener('scroll', () => {
            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight - 100) {
                loadMorePosts();
            }
        });
    });
</script>
