---
layout: default
title: Publications
header-title: Lab publications
permalink: /publications/
order: 3
---
<div class="container-flex">
    <div class="container-xl">
        <div class="col-12 my-3">
            {% assign publications = site.data.publications_all %}
            {% assign years = "" %}
            {% assign years_selected = "" %}
            {% for item in publications %}
            {% assign item_year = item.year | split: ' ' %}
            {% assign item_year = item_year[0] %}
            {% if item.is_selected %}
            {% assign years_selected = years_selected | append: item_year | append: "," %}
            {% endif %}
            {% assign years = years | append: item_year | append: "," %}
            {% endfor %}
            {% assign years = years | split: ',' | uniq | sort | reverse %}
            {% assign years_selected = years_selected | split: ',' | uniq | sort | reverse %}
            <div class="accordion" id="accordionBlock">
                <div class="accordion-item">
                    <div class="accordion-header ">
                        <button class="accordion-button poppins" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="m-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                     class="me-2" viewBox="0 0 16 16">
                                    <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.18.18 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.18.18 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.18.18 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.18.18 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.18.18 0 0 0 .134-.098z"/>
                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                                </svg>
                                Selected papers
                            </h4>
                        </button>
                    </div>
                    {% assign selected_items = site.data.publications_all | where: "is_selected", true | sort: "year" |
                    reverse %}
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionBlock">
                        <div class="accordion-body p-0">
                            {% for year in years_selected %}
                            <h4 class="poppins w-100 p-2 m-0 gradientBg no-text-selection text-black">
                                {{year}}</h4>
                            <hr>
                            {% for item in selected_items %}
                            {% assign item_year = item.year | split: ' ' %}
                            {% assign item_year = item_year[0] %}
                            {% if item_year == year %}
                            {% if item.is_selected %}
                            <a href="https://pubmed.ncbi.nlm.nih.gov/{{ item.pubmed_id }}"
                               class="w-100 m-0 list-group-item list-group-item-action dynamic-highlight"
                               style="border:0px !important">
                                <div class="d-flex flex-column flex-md-row p-0">
                                    <div class="d-flex px-2 py-0">
                                        <div class="my-auto py-2">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="text-secondary m-0 poppins">{{ item.title }}</h5>
                                            </div>
                                            <div class="truncate member-highlight-parent">
                                                {{ item.authors | truncatewords: 80 }}
                                            </div>
                                            <strong>
                                                {{ item.journal }}
                                            </strong><br>
                                            <small class="text-body-secondary text-nowrap">{{ item.year | date: "%Y %B"
                                                }}</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <hr>
                            {% assign pub_count = pub_count | plus: 1 %}
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" id="dissapearingAccordionHeader">
                        <button class="accordion-button dissapearing-accordion-button collapsed poppins" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                            <h4 class="m-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                     class="me-2" viewBox="0 0 16 16">
                                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                                </svg>
                                All publications
                            </h4>
                        </button>
                    </div>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionBlock">
                        <div class="accordion-body p-0">
                            {% for year in years %}
                            <h4 class="poppins w-100 px-3 py-3 m-0 gradientBg no-text-selection">{{year}}</h4>
                            <hr>
                            {% for item in site.data.publications_all %}
                            {% assign item_date_segments = item.year | split: ' ' %}
                            {% assign item_year = item_date_segments[0] %}
                            {% if item_year == year %}
                            <a href="https://pubmed.ncbi.nlm.nih.gov/{{ item.pubmed_id }}"
                               class="w-100 m-0 list-group-item list-group-item-action dynamic-highlight" style="border:0px !important">
                                <div class="d-flex flex-column flex-md-row p-0">
                                       <div class="d-flex px-2 py-0">
                                        <div class="my-auto py-2">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="text-secondary m-0 poppins">{{ item.title }}</h5>
                                            </div>
                                            <div class="truncate member-highlight-parent">
                                                {{ item.authors | truncatewords: 80 }}
                                            </div>
                                            <strong>
                                                {{ item.journal }}
                                            </strong><br>
                                            <small class="text-body-secondary text-nowrap">{{ item_year }}{% if
                                                item_date_segments.size > 1 %} {{ item_date_segments[1] }}{% endif
                                                %}</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <hr>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
